/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif, 400;
  background-color: #454c51;
}

h1{
  font-weight: 300;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

a{
  color: white;
}

/* HOMEPAGE */

#navbar{
  display: inline-block;
  float: none;
  vertical-align: top;
  align-items: center;
  align-content: center;
  border-color: transparent;
  margin: 0px;
}
#navbar img{
  padding-top: 10px;
  height: 40px;
}

#footer{
  background-color: white;
}
#gh{
  padding-top: 9px;
  color: #fff;
  text-shadow: black .1em .1em .5em;
}
#aboutUs {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-image: url(../media/images/Display.JPG);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    color: white;
    vertical-align: middle;
}
#aboutUs p{
      text-shadow: black .1em .1em .5em;
      font-weight: 300;
}
#aboutUs h1{
  margin-top: 65px;
}

#events{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
}

#CTA{
    height: 100%;
    display: flex;
    al: center;
    text-align: center;
}

.btn-default{
  background: #454c51;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
.btn-default:hover{
  background: white;
  color: black;
}

#sillyFix{
  width: 100%;
  text-align: center;
}

#joinUs {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-image: url(../media/images/JoinUs.JPG);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    color: white;
    vertical-align: middle;
    padding-top: 60px;
}

#joinUs .btn-default{
  background: transparent;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

#joinUs .btn-default:hover{
  background: white;
  color: black;
}

#joinUs p{
      text-shadow: black .1em .1em .5em;
      font-weight: 300;
}
#joinUs h1{
  margin-top: 65px;
}

.message-container{
  padding: 10px;
  text-align: center;
  color: #FFF;
}

.transparent{
  background-color: transparent;
}
@media(max-width:767px){
  #CTA{
    padding-top: 30px;
  }
  #events{
    text-align: center;
    padding: 40px;
  }
  #aboutUs{
    height: 500px;
    padding-top: 80px;
  }
}
@media(min-width:768px){
  #CTA{
    padding-top: 30px;
  }
  #events{
    text-align: center;
    padding: 40px;
  }
  #aboutUs{
    padding-top: 50px;
    height: 450px;
  }
@media(min-width:992px){
  #events{
    padding: 90px;
    text-align: left;
  }
  #CTA{
    padding-top: 50px;
  }
}
@media(min-width:1047px){
}
